.control-container {
  height: 100%;
}

h2 {
  margin-bottom: 50px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.one_day {
  width: 110px;
  border: 1px solid black;
  margin: 3px;
}

.name_day {
  font-weight: bold;
  margin: 13px 0 5px 0;
}

.date_day {
  font-weight: 100;
  font-size: small;
  margin: 5px 0;
}

.temperature_day {
  font-weight: 800;
  font-size: 20px;
}

.weather_day {
  font-weight: 100;
  font-size: small;
}

.weather_icon {
  margin-top: 15px;
  font-size: 50px;
}
